body, html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

hr {
	max-width: 50px;
	border-width: 3px;
	border-color: #F05F44;
}

header.bgImage {
	background-image: url('images/anete-lusina-609857-unsplash.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header.bgImage hr {
	margin-top: 300px;
	margin-bottom: 10px;
	margin-right: 350px;
	transform: skewY(2deg);
}

header.bgImage h1 {
	font-size: 2rem;
}

.btn {
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	transform: skewY(2deg);
}

.btn-xl {
	padding: 0.5rem 2rem;
}

.btn-primary {
	background-color: #F05F44;
	border-color: #F05F44;
	margin-left: 645px;
}

.btn-primary:hover {
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 5px;
	cursor: pointer;
}